* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.4s;
  scroll-behavior: smooth;
}
.container {
  max-width: 1598px;
  padding: 0 126px;
  margin: 0 auto;
}
body {
  font-family: "Montserat" sans-serif;
}
